$off-white: #F7F7F7;
$off-black: #222124;
$primary: tomato; 
$primary-fg: #474F4B; 
$crumblr-fg: #FFFF31;
$crumblr-bg: #AC9DE0; 
$stack-fg: #708EC5; 
$stack-bg: #DC6373; 
$bedroom-bg: #63C5DF;


$tablet-width: 768px;
$desktop-width: 1024px;