@font-face {
  font-family: 'Heuristica';
  src: url("../fonts/Heuristica-Regular.otf"); }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-MediumCondensed.otf"); }
@font-face {
  font-family: 'Exo2-XLC';
  src: url("../fonts/Exo2-LightCondensed.otf"); }
@font-face {
  font-family: 'bebasregular';
  src: url("../fonts/bebas/BEBAS___-webfont.eot");
  src: url("../fonts/bebas/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebas/BEBAS___-webfont.woff") format("woff"), url("fonts/bebas/BEBAS___-webfont.ttf") format("truetype"), url("fonts/bebas/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }