@import '_variables';
@import '_mixins';
@import 'pages/crumblr';
@import 'pages/bedroomparty';
@import 'pages/stackinterview';
@import 'pages/loom';


article img {
	width: 100vw; 
	height: auto; 
	padding: 0; 
	margin: 0;
	@include desktop {
		width: 100%; 
	}
}

body {
	color: $off-white;
	background-color: $primary-fg;
	height: 900px;  
	font-size: 1rem;
}

.card {
	text-align: center;
	color: $primary-fg;
	.card-title {
		color: $primary-fg;
	}	
}

.container {
	margin: 0 auto;
}

a {
	color: $stack-fg;
}

#projects-main {
	background-color: green; 
	text-align: center;
	height: 400px; 
}

.scrollspy {
	vh: 100%; 
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.center-text {
	text-align: center; 
	padding: 10px; 
}

img {
	display: block;
	margin: 0 auto;
}

.half-img {
	width: 85vw;
}

.long-img {
	width: 70vw;
	@include desktop {
		width: 60%; 
	};  
}

span>img {
	display: inline; 
}

i {
	color: #474F4B;
}

.collapsible-header {
	font-size: 1.2rem;
}

h2 {
	font-size: 2.8rem;
	@include tablet {
		font-size: 5rem;  
	} 
}

h3 {
	font-size: 2.4rem; 
	@include tablet {
		font-size: 4rem;  
	} 
}

h4 {
	font-size: 2rem; 
	@include tablet {
		font-size: 3.5rem;  
	} 
}