@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400|Alegreya|Varela+Round|Arvo);
@import 'variables.scss'; 


body {
	background-color: $primary-color;
	font-family: 'Alegreya', serif;
	width: 90%;
	margin: 0 auto;
	
	a {
		text-decoration: none;
		color: pink;
	}

	#choice-wallpaper,
	#choice-video,
	#wallpaper-advanced
	{
		display: none; 
	}

	span {

		#advanced {
			background-color: $logo-color;
			border-radius: 50%;
			color: pink;
			transition: border .5s, color .5s;
			width: 40px;
			height: 40px;
			font-size: 1.7rem;
		}

		#advanced:hover {
    		border: 1px solid pink;
    		color: $nav-color;
   		 }

	}
}

nav {
	h1 {
		color: $logo-color;
		font-size: 4rem;
		text-align: center;
		display: inline-block;
	}

	ul {
		display: inline;
		position: relative;
	}

	li {
		display: inline;
		font-size: 1rem;
		margin: 0 15px;
	}

	li.nav {
		display: none;
	}
}




section {

	color: $secondary-color;
	font-family: "Arvo";
    font-size: $section-phone;
    font-weight: 800; 
    text-align: center;
  

    select {
    	background-color: $primary-color;
    	-webkit-appearance: none;
    }

	input[type="text"] {
		background-color: rgba(255,255,255,.0);
		border-style: none;
		border-bottom: 2px solid $secondary-color;
		appearance:none;
		width: 75px;
	}
	input[type="number"] {
		background-color: rgba(255,255,255,.0);
		border-style: none;
		border-bottom: 2px solid $secondary-color;
		text-align: center;
	}

	input[type="submit"] {
		background-color: $logo-color;
		font-size: 1.7rem;
		border-radius: 50%; 
		width: 40px;
		height: 40px;
		padding: 0;
		color: pink;
		transition: border .5s, color .5s;
	}	
	
	input[type="submit"]:hover {
    	border: 1px solid pink;
    }

	::-webkit-input-placeholder {
   color: $secondary-color;
	}

	:-moz-placeholder { /* Firefox 18- */
   color: $secondary-color;  
	}

	img {
		max-width: 500px;
		max-height: 500px;
		margin: 0 auto;

	}

}

@media only screen and (min-width: $break-phone + 1) and (max-width: $break-tablet) {
		
	section {
		margin: 0 auto;
		text-align: center;
		width: 85%;
		padding: 20px;
		font-size: 4.5rem;

		input[type="text"] {
			width: 165px;
		}

	}

	nav {

		text-align: center;

		h1 {
			color: $logo-color;
			font-size: 6rem;
			text-align: center;
			display: inline-block;
		}

		ul {
			display: block;
			position: relative;
		}

		li {
			display: inline;
			font-size: 2rem;
			margin: 0 15px;
		}

		li.nav {
			display: inline;
		}

		li#nav-bars {
			display: none;
		}
	}	

}

@media only screen and (min-width: $break-tablet + 1) and (max-width: $break-desktop) {
	
	body {
		width: 1024px;
	}
	section {
		margin: 0 auto;
		text-align: center;
		width: 95%;
		padding: 20px;
		font-size: 4.5rem;

		input[type="text"] {
		width: 165px;
		}
	}

	nav {

		text-align: center;

		h1 {
			color: $logo-color;
			font-size: 6rem;
			text-align: center;
			display: inline-block;
		}

		ul {
			display: block;
			position: relative;
		}

		li {
			display: inline;
			font-size: 2rem;
			margin: 0 15px;
		}

		li.nav {
			display: inline;
		}

		li#nav-bars {
			display: none;
		}
	}
}
