@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400|Alegreya|Varela+Round|Arvo);
body {
  background-color: #AC9DE0;
  font-family: 'Alegreya', serif;
  width: 90%;
  margin: 0 auto; }
  body a {
    text-decoration: none;
    color: pink; }
  body a:hover {
    color: #FFFF31; }
  body ul {
    list-style-type: none; }
  body .choices,
  body #choice-wallpaper,
  body #choice-video,
  body #wallpaper-advanced,
  body #restart {
    display: none; }
  body span #advanced {
    background-color: #5EF7BD;
    border-radius: 50%;
    color: pink;
    transition: border .5s, color .5s;
    width: 40px;
    height: 40px;
    font-size: 1.7rem; }
  body span #advanced:hover {
    border: 1px solid pink;
    color: #474F4B; }
  body header {
    margin-top: 15px; }

nav {
  text-align: center; }
  nav h1 {
    color: #5EF7BD;
    font-size: 4rem;
    text-align: center;
    display: inline-block; }
  nav ul {
    display: inline;
    position: relative; }
  nav li {
    display: inline;
    font-size: 1rem;
    margin: 0 15px; }
  nav li.nav {
    display: none;
    font-size: 1.7rem; }
  nav a {
    color: #474F4B; }

section {
  color: #FFFF31;
  font-family: "Arvo";
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center; }
  section select {
    background-color: #AC9DE0;
    -webkit-appearance: none; }
  section input[type="text"] {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: pink;
    border-bottom: 2px solid #FFFF31;
    appearance: none;
    width: 75px; }
  section input[type="number"] {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    border-bottom: 2px solid #FFFF31;
    text-align: center; }
  section input[type="submit"] {
    background-color: #5EF7BD;
    font-size: 1.7rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    color: pink;
    transition: border .5s, color .5s; }
  section input[type="submit"]:hover {
    border: 1px solid pink; }
  section ::-webkit-input-placeholder {
    color: #FFFF31; }
  section :-moz-placeholder {
    /* Firefox 18- */
    color: #FFFF31; }
  section img {
    max-width: 260px;
    height: auto;
    margin: 0 auto; }
  section em {
    color: pink; }
  section .about {
    font-size: 1rem; }
  section #contact-links {
    margin-top: 15%; }
  section #contact-links li {
    margin-top: 20px; }
  section .fa {
    color: #474F4B; }
  section .fa-2x {
    font-size: 5rem; }
  section .fa-3x {
    font-size: 5rem; }

@media only screen and (min-width: 321px) and (max-width: 768px) {
  section {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 20px;
    font-size: 4.5rem; }
    section input[type="text"] {
      width: 165px; }
    section img {
      max-width: 500px;
      height: auto;
      margin: 0 auto; }
    section .about {
      font-size: 3rem; }
    section #contact-links {
      margin-top: 10%; }
    section #contact-links ul {
      display: inline; }
    section #contact-links li {
      margin: 60px 0 0 0; }
    section .fa {
      color: #474F4B; }
    section .fa-2x {
      font-size: 11rem; }
    section .fa-3x {
      font-size: 11rem; }

  nav {
    text-align: center; }
    nav h1 {
      color: #5EF7BD;
      font-size: 7rem;
      text-align: center;
      display: inline-block; }
    nav ul {
      display: block;
      position: relative; }
    nav li {
      display: inline;
      font-size: 2rem;
      margin: 0 15px; }
    nav li.nav {
      display: inline; }
    nav li#nav-bars {
      display: none; }

  .fa-4x {
    font-size: 2rem; } }
@media only screen and (min-width: 769px) and (max-width: 9999px) {
  body {
    width: 1024px; }

  section {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding: 20px;
    font-size: 4.5rem; }
    section input[type="text"] {
      width: 165px;
      text-align: center; }
    section img {
      max-width: 800px;
      height: auto;
      margin: 0 auto; }
    section #contact-links {
      margin-top: 10%; }
    section #contact-links ul {
      display: inline; }
    section #contact-links li {
      margin: 60px 30px 0 30px;
      display: inline; }
    section .fa {
      color: #474F4B; }
    section .fa-2x {
      font-size: 11rem; }
    section .fa-3x {
      font-size: 11rem; }

  nav {
    text-align: center; }
    nav h1 {
      color: #5EF7BD;
      font-size: 7rem;
      text-align: center;
      display: inline-block; }
    nav ul {
      display: block;
      position: relative; }
    nav li {
      display: inline;
      font-size: 2rem;
      margin: 0 15px; }
    nav li.nav {
      display: inline; }
    nav li#nav-bars {
      display: none; } }

/*# sourceMappingURL=custom.css.map */
