//colors 
$primary-color: #AC9DE0;  
$secondary-color: #FFFF31; 
$nav-color: #474F4B;
$logo-color: #5EF7BD; 
//mobile-first breakpoints 
$break-phone: 320px; 
$break-tablet: 720px; 
$break-laptop: 960px;
$break-desktop: 1280px;  