.bedroom-party {
	background-color: $bedroom-bg; 
}

.bedroom-party h2 {
	 border-bottom: 3px dashed $off-white; 
	 display: inline;
}

.bedroom-party a {
	color: #FF9165;
}

.cover-image.bedroom-party-city {
	background: url(http://i.imgur.com/QH2Jsl5.jpg?2) no-repeat center center fixed;
	@include cover; 
}

.cover-image.bedroom-party-balloon {
	background: url(http://i.imgur.com/NWtHak1.jpg?3) no-repeat center center fixed; 
	@include cover; 
}

