.crumblr {
	background-color: $crumblr-bg;
	color: $crumblr-fg;
}

.cover-image.crumblr {
	background: url(http://i.imgur.com/qSGxxuN.png?1) no-repeat center center;
	width: 100px;
}

.cover-image.cat {
	background: url(http://i.imgur.com/nKymaSv.jpg?1) no-repeat center center fixed; 	
	@include cover; 
}

article .fit {
	width: 80%; 
}

.vid {
	width: 100vw;
	height: 100vh; 
	z-index: 0;
}

.vid-text {
	position: absolute;
	z-index: 1;	
	opacity: 0.75;
}

.cat-text {
	z-index: 1;
	opacity: 0.90;
	padding-top: 18rem;
}

.crumblr span > a {
	color: pink;
	border-bottom: 1px solid $crumblr-fg;
	text-decoration: none; 
}

