.stack-interview {
	background-color: #D5A472;
	color: $off-white; 
}

.stack-interview ul.collapsible {
	color: $primary-fg; 
	background: $primary-fg;
}

.stack-interview pre,
.stack-interview .collapsible-body {
	color: $off-white;
}

.stack-initerview ul.collapsible-body {
	color: $off-white;
}