.stack-interview {
	background-color: #D5A472;
	color: $off-white; 
}

.stack-interview ul.collapsible {
	color: $primary-fg; 
	background: $primary-fg;
}

.stack-interview pre {
	width: 90vw; 
}

.stack-interview pre,
.stack-interview .collapsible-body {
	color: $off-white;
}

.stack-initerview ul.collapsible-body {
	color: $off-white;
}

img.icon {
	width: 50px; 
	height: auto; 
	@include tablet {
		width: 80px;  
	} 
}